<mat-card class="card-height">
  <div>
    <h1 style="text-align:center">Welcome to the Home Budgeter.</h1>
    <h2 style="text-align:center">Here is some more text.</h2>
    <mat-card-footer class="center footer-container">
      <button mat-raised-button (click)="getStartedButton();">Get Started</button>
    </mat-card-footer>
  </div>
</mat-card>

<!-- <div class="container">
  <mat-card>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <h1 style="text-align:center">Welcome to the Home Budgeter.</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2 style="text-align:center">Here is some more text.</h2>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card-footer class="center footer-container">
      <button mat-raised-button (click)="getStartedButton();">Get Started</button>
    </mat-card-footer>
  </mat-card>
</div> -->