.card-height {
    height: 90vh;
}

.main-background {
    //background-image: url("../../assets/main-background.jpg");
    margin: 0;
}

h1 {
    flex: 1;
    font-size: 44pt;
    width: 65%;
    margin: auto;
    padding-top: 15%;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    flex: 1;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    margin: 20px;
}

.center {
    display: flex;
    justify-content: center;
}