<mat-toolbar class="mat-elevation-z8 z-depth-3" color="primary">
  <mat-toolbar-row class="mat-elevation-z8 z-depth-3">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-bar-item">
      <div class="vertical-center">
        <a class="main-title" routerLink="/">Afford a Home</a>
      </div>
    </div>
    <span class="menu-spacer"></span>
    <div style="float: left; padding-right: 20px;">
      <a *ngIf="monthlyPayment != 0" style="display: block; padding-bottom: 10px">Monthly Payment: ${{monthlyPayment | number:'1.0-0'}}</a>
      <a *ngIf="homePrice != 0" style="display: block">Home Price: ${{homePrice | number:'1.0-0'}}</a>
    </div>
    <div fxShow="true" fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a class="menu-button" routerLink="/budgeter" mat-buttom>Budgeter</a>   
      <a class="menu-button" routerLink="/affordability" mat-button>Affordability</a>
      <a class="menu-button" href="#" mat-button>
        <mat-icon>settings</mat-icon>
      </a>
      
      <!--  <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a href="#" mat-list-item>Settings</a>
      {{monthlyPayment | number:'1.0-0'}}
      <!-- <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#"mat-list-item>Menu Item 6</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>