mat-sidenav {
  background-color: white;
}

.mat-icon-button {
  background-color: transparent;
  margin-right: 5px;
}

mat-toolbar-row {
  min-height: inherit;
  max-height: inherit;
  max-width: 1500px !important;
  margin: 0 auto;
}

.main-title {
  font-size: 22pt;
  font-family: 'Montserrat Subrayada', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-item {
  height: 15vh;
  position: relative;
}

.menu-button {
  font-size: 12pt;
  margin-left: 10px;
  border-color: white !important;
  border-radius: 0px !important;
}

.mat-stroked-button[disabled] {
  color: gray;
}

.active-route {
  background-color: #fff;
  color: #2e4053;
}