mat-toolbar {
  min-height: 120px !important;
  max-height: 120px !important;
  color: white;
}

mat-sidenav {
  background-color: white;
}

.mat-icon-button {
  background-color: transparent;
  margin-right: 5px;
}

mat-toolbar-row {
  min-height: inherit;
  max-height: inherit;
}

.main-title {
  font-size: 22pt;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.menu-spacer {
    flex: 1 1 auto;
  }

a {
  text-decoration: none;
  color: white;
}

.nav-bar-item {
  height: 15vh;
  position: relative;
}

.menu-button {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  border-color: white !important;
  border-radius: 0px !important;
}