mat-sidenav-container {
  min-height: 85vh !important;
}

mat-toolbar {
  min-height: 15vh !important;
  max-height: 15vh !important;
  color: white;
}

mat-sidenav {
  background-color: white;
}

.mat-icon-button {
  background-color: transparent;
  margin-right: 5px;
}

mat-toolbar-row {
  height: inherit;
}

.main-title {
  font-size: 22pt;
  
  font-family: 'Montserrat Subrayada', sans-serif;
}

.menu-spacer {
    flex: 1 1 auto;
  }

a {
  text-decoration: none;
  color: white;
}

.main-container {
  padding: -8px !important;
}

.nav-bar-item {
  height: 15vh;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.settings-button {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
}