main {
    min-height: 710px;
}

.red-text {
    color: red;
}

.text {
    font-size: 26pt !important;
}

.money-text {
    color: green !important;
}

.bold {
    font-weight: 700 !important;
}

.center-text {
    text-align: center;
}

mat-card-title {
    //padding: 20px;
    font-size: 18pt !important;
    text-align: left !important;
}

mat-card-content {
    margin-bottom: 0px !important;
}

mat-form-field {
    font-size: 13pt;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    text-align: center !important;
}

input {
    font-family: montserrat;
    width: 200px;
}

img {
    margin: 0 auto !important;
    display: inherit;
    width: 95%;
}

.holygrail {
    display: flex;
    min-height: 700px;
    flex-direction: column;
}

.holygrail-body {
    display: flex;
    flex: 1;
}

.holygrail-content {
    flex: 1;
}

.holygrail-back, .holygrail-forward {
    flex: 0 0 2em;
}

.holygrail-back {
    order: -1;
}

.flex-item:first-child > span { margin-right: auto; }

.flex-item:last-child  > span { margin-left: auto;  }