
.red-text {
    color: red;
}

.mat-tooltip.tooltip {
    font-size: 100px !important;
}

.money-text {
    color: green;
    font-size: 25pt !important
}

mat-card-title {
    //padding: 20px;
    font-size: 18pt !important;
    text-align: left !important;
}

mat-card-content {
    margin-bottom: 0px !important;
}

mat-form-field {
    font-size: 14pt;
    margin-bottom: 0 !important;
}

.bold {
    font-weight: 500 !important;
}

.center-text {
    text-align: center;
}