<div class="container">
  <mat-card class="item mat-elevation-z15">
    <mat-card-title>
        <span class="bold">First we'll determine your maximum monthly payment:</span>
    </mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field class="item">
          <input type="text" [(ngModel)]="yearlySalaryFormatted" (blur)="updateSalary($event)" matInput required placeholder="Yearly Salary">
        </mat-form-field>
        <mat-form-field class="item">
          <input 
            type="text" 
            [(ngModel)]="monthlyDebtsFormatted" 
            (blur)="updateDebts($event)" 
            matInput 
            placeholder="Monthly Debts" 
            matTooltip="Enter the minimum amount you owe every month for things like auto loans, child care, credit card debt, and student loans."
            matTooltipClass="tooltip">
        </mat-form-field>
      </div>
    </mat-card-content>
    <div class="item center-text" *ngIf="yearlySalary">You can afford up to <span class="money-text">${{monthlyPayment | number:'1.0-0'}}</span> per month.</div>
    <div class="item center-text" *ngIf="yearlySalary" style="margin-bottom: -10px; margin-top: 20px;">
      <mat-slider 
        #paymentSlider
        thumbLabel
        [(ngModel)]="monthlyPayment"
        (slideend)="onSliderChange(paymentSlider.value)" 
        min="0"
        [max]="sliderMax"
        step="50">
      </mat-slider>
    </div>
  </mat-card>
  <mat-card class="item  mat-elevation-z15" id="incomeBreakdownChart">
  </mat-card>
  <mat-card class="item  mat-elevation-z15">
    <mat-card-title>
      <span class="bold">Now we can determine your maximum home price:</span>
    </mat-card-title>
    <div class="container">
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="downPaymentPercentFormatted" (blur)="updateDownPayment($event)" value="downPaymentPercent * 100" matInput required placeholder="Down Payment (%)">
      </mat-form-field>
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="interestRatePercentFormatted" (blur)="updateInterestRate($event)" matInput required placeholder="Interest Rate (%)">
      </mat-form-field>
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="taxesPercentFormatted" (blur)="formatTaxes($event)" matInput placeholder="Taxes (%)">
      </mat-form-field>        
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="insuranceFormatted" (blur)="formatInsurance($event)" matInput placeholder="Insurance / mo">
      </mat-form-field>
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="hoaFormatted" (blur)="formatHoa($event)" matInput placeholder="HOA / mo">
      </mat-form-field>
      <mat-form-field class="item">
        <input type="text" [(ngModel)]="pmiFormatted" (blur)="formatPmi($event)" matInput placeholder="PMI / mo">
      </mat-form-field>
      <div class="item center-text" style="margin-bottom: 0">Estimated home price: <span class="money-text">${{suggHomePrice | number:'1.0-0'}}</span> with ${{suggestedDownPayment() | number:'1.0-0'}} down.
      </div>
    </div>
  </mat-card>
  <mat-card class="item mat-elevation-z15" id="paymentChart">
  </mat-card>
</div>