/* You can add global styles to this file, and also import other style files */
@import "generated-theme.scss";
@import '~bootstrap/dist/css/bootstrap.min.css';

body { 
    margin: 0px !important;
    padding: 0px !important;
    font-family: Montserrat; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    //background-image: url("../../assets/house-background.jpg");
}

.flex-item {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 10px;
}

.m-auto {
    margin: auto;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-160 {
    margin-top: 160px !important;
}

.menu-spacer {
    flex: 1 1 auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-container {
    //padding: -8px !important;
    margin: 0 auto;
    max-width: 1500px !important;
    min-height: calc(100vh - 90px);
}

.large-screen {
    display: block !important;
}

@media only screen and (max-width: 700px) {
    .large-screen {
        display: none !important;
    }
}

.small-screen {
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .small-screen {
        display: block !important;
    }
}

mat-toolbar {
    min-height: 90px !important;
    max-height: 90px !important;
    color: white;
}

mat-toolbar-row {
    min-height: inherit;
    max-height: inherit;
    max-width: 1500px !important;
    margin: 0 auto;
}