<div class="main-container">
  <div class="main-background card-height slide-up-fade-in">
    <div class="first-transition-delay slide-up-fade-in">
      <div class="mat-display-3 all-text first-text">Build a home budget that works for you.</div>
      <div class="mat-display-1 all-text second-text">We make it simple.</div>
      <div>
        <button class="get-started-button" mat-stroked-button color="primary" routerLink="/affordability">Get Started</button>
      </div>
    </div>
  </div>
</div>