/* You can add global styles to this file, and also import other style files */
@import "generated-theme.scss";

body { 
    margin: 0px !important;
    padding: 0px !important;
    font-family: Montserrat; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    //background-image: url("../../assets/house-background.jpg");
}

.item {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}