<div class="container">
  <h2>Enter your home information:</h2>
  <div class="inputs-container">
    <div class="input-item">
      <h3>Home Price</h3>
      <input #homePrice value="480533"  (keyup)="onKeyHomePrice(homePrice.value)">
    </div>
    <div class="input-item">
      <h3>Down Payment (%)</h3>
      <input #downPayment value="5" (keyup)="onKeyDownPayment(downPayment.value)">
    </div>
    <div class="input-item">
      <h3>Interest Rate (%)</h3>
      <input #interest value="3.5" (keyup)="onKeyInterestRate(interest.value)">
    </div>
    <div class="input-item">
      <h3>Taxes (%)</h3>
      <input #taxes value=".75" (keyup)="onKeyTaxes(taxes.value)">
    </div>
    <div class="input-item">
      <h3>Insurance</h3>
      <input #insurance value="77.5" (keyup)="onKeyInsurance(insurance.value)">
    </div>
    <div class="input-item">
      <h3>HOA</h3>
      <input #hoa value="175" (keyup)="onKeyHoa(hoa.value)">
    </div>
    <div class="input-item">
      <h3>PMI</h3>
      <input #pmi value="0" (keyup)="onKeyPmi(pmi.value)">
  </div>
  </div>
  <h2>Your monthly payment: {{monthlyPayment}}</h2>
  <h2>Incomes: </h2>
  <h2>Savings: </h2>
  <h2>Expenses: </h2>
</div>