.container {
    margin: 20px;
}

.inputs-container {
    display: flex;
}

.input-item {
    flex: 1;
}

.red-text {
    color: red;
}

.mat-tooltip.tooltip {
    font-size: 100px !important;
}

.green {
    color: green;
}