<div class="container">
  <mat-card>
    <div class="mat-headline">Let's start by determining how much house you can afford:</div>
    <mat-form-field>
      <input type="text" [(ngModel)]="formattedSalary" (blur)="formatSalary($event)" matInput placeholder="Yearly Salary">
    </mat-form-field>
    <div *ngIf="yearlySalary">
      <div class="mat-title" style="margin-bottom: 0">You can afford up to ${{suggestedMonthlyPayment() | number:'1.0-0'}} per month.</div>
      <div class="body-1">*This is based on the suggested limit of 28% of income used for housing.</div>
    </div>
  </mat-card>
</div>

<div *ngIf="yearlySalary" class="container">
  <mat-card>
    <div class="mat-headline">Enter your desired home information:</div>
    <mat-form-field>
      <input [(ngModel)]="homePrice" matInput required placeholder="Home Price">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="downPaymentPercent" value="downPaymentPercent * 100" matInput required placeholder="Down Payment (%)">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="interestRatePercent" matInput required placeholder="Interest Rate (%)">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="taxesPercent" matInput placeholder="Taxes (%)">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="insurance" matInput placeholder="Insurance">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="hoa" matInput placeholder="HOA">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="pmi" matInput placeholder="PMI">
    </mat-form-field>
    <div *ngIf="calculateMonthlyPayment()">
        <div class="mat-title" style="margin-bottom: 0">Estimated montly payment: ${{calculateMonthlyPayment() | number:'1.0-0'}}</div>
      </div>
  </mat-card>
</div>

<!-- 
<div class="container">
    <mat-card>
      <h2>Enter your home information:</h2>
      <div class="inputs-container">
  
        <div class="input-item">
          <h3>Home Price</h3>
          <input [(ngModel)]="homePrice" value="homePrice" #homePriceInput required (input)="homePrice = $event.target.value">
          <div class="red-text" *ngIf="homePrice == 0 || homePrice < 0 || !isNumber(homePrice)">
            Home price is required, cannot be zero, and must be a positive number.
          </div>
        </div>
  
        <div class="input-item">
          <h3>Down Payment (%)</h3>
          <input [(ngModel)]="downPaymentPercent" value="downPaymentPercent" #downPaymentPercentInput (input)="downPaymentPercent = $event.target.value">
        </div>
  
        <div class="input-item">
          <h3>Interest Rate (%)</h3>
          <input [(ngModel)]="interestRatePercent" value="interestRatePercent" #interestRatePercentInput (input)="interestRatePercent = $event.target.value">
        </div>
  
        <div class="input-item">
          <h3>Taxes (%)</h3>
          <input [(ngModel)]="taxesPercent" value="taxesPercent" #taxesPercentInput (input)="taxesPercent = $event.target.value">
        </div>
  
        <div class="input-item">
          <h3>Insurance</h3>
          <input [(ngModel)]="insurance" value="insurance" #insuranceInput (input)="insurance = $event.target.value">
        </div>
  
        <div class="input-item">
          <h3>HOA</h3>
          <input [(ngModel)]="hoa" value="hoa" #hoaInput (input)="hoa = $event.target.value">
        </div>
  
        <div class="input-item">
          <h3>PMI</h3>
          <input [(ngModel)]="pmi" value="pmi" #pmiInput (input)="pmi = $event.target.value">
        </div>
  
      </div>
      <h2>Your monthly payment: ${{calculateMonthlyPayment() | number:'1.0-0'}}</h2>
    </mat-card>
  </div>
   -->