.container {
    //background-image: url("../../assets/house-background.jpg");
    //opacity: .5;
}

.red-text {
    color: red;
}

.mat-tooltip.tooltip {
    font-size: 100px !important;
}

.money-text {
    color: green;
    font-size: 25pt !important
}

mat-grid-tile {
    //background: lightblue;
}

mat-card {
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px);
    opacity: .9;
}

mat-card-title {
    //padding: 20px;
    font-size: 18pt !important;
    text-align: left !important;
}

mat-form-field {
    font-size: 14pt;
    padding-top: 20px;
    width: 250px;
}

.mat-headline {
    margin-bottom: 0 !important;
}

.bold {
    font-weight: 500 !important;
}