.container {
    margin: 20px;
}

.red-text {
    color: red;
}

.mat-tooltip.tooltip {
    font-size: 100px !important;
}

.green {
    color: green;
}

mat-grid-tile {
    //background: lightblue;
}

mat-card {
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px);
}

mat-card-header {
    //padding: 20px;
    font-size: 20pt;
}

mat-form-field {
    font-size: 14pt;
    padding-top: 20px;
    width: 250px;
}

.mat-headline {
    margin-bottom: 0 !important;
}